<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title> cersoCode-login </title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

        <link href="#" th:href="@{/css/login.css}" rel="stylesheet" />
        <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />

    </head>
    <body>

        <div class="container" >

            <form  class="form-signin" action="#" th:action="@{/check}" th:object="${credenciales}" method="post">

                <h2 class="form-signin-heading"> Login </h2>
                    <label for="inputEmail" class="sr-only"> Usuario </label>
                    <input type="text" id="inputUsername" class="form-control" placeholder="Usuario" th:field="*{nombre}" />
                    <label  for="inputPassword" class="sr-only" Contraseña> </label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña"  th:field="*{pass}" />
                    <div  th:if="${error != null}"  class="alert alert-danger" role="alert">Credenciales incorrectas!</div>
                    <div  th:if="${logout != null}"  class="alert alert-info" role="alert">Logout con exito!</div>
                    
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"> </span> Entrar
                    </button>
            </form>

        </div>


    </body>
</html>
