<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>cersoCode -modificar Usuarios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        <link href="#" th:href="@{/css/style.css}" rel="stylesheet" /> 
    </head>

    <body>

        <div class="jumbotron">
            <div class="container">
                <h1>Formulario de Usuarios</h1>
                <form action="#" th:action="@{/usuarios/addUsuarios}" th:object="${usuarios}" method="post">
                    
                    <input type="hidden" th:field="*{id}" />
                    
                <br/>
                    ID: <input type="text" class="form-control" th:field="*{id}"> </input>
                    <br/>
                    Nombre: <input type="text" class="form-control" th:field="*{nombre}" th:values="${nombre}"> </input>
                    <br/>
                    <br/>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"> </span>  Aceptar
                    </button>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"> </span> Anular
                    </button>
                </form>
            </div>
        </div>

    </body>
</html>
